<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <!-- 1. jQuery-->
    <script type="text/javascript" src="/assets/js/jquery3.6.0.js"></script>
    <!-- 2. AUI GRID 기본 소스코드-->
    <script type="text/javascript" src="/assets/AUIGrid/AUIGrid.js"></script>
    <!-- 3. AUI GRID 라이센스 -->
    <script type="text/javascript" src="/assets/AUIGrid/AUIGridLicense.js"></script>
    <!-- 4. AUI GRID CSS 파일 -->
    <link rel="stylesheet" href="/assets/AUIGrid/AUIGrid_style.css">

    <script type="text/javascript">
        // 그리드를 저장할 객체
        let exGrid;

        // AUI Grid 컬럼을 설정하는 객체
        let columnLayout = [{
            dataField: 'name',
            headerText: '이름'
        }, {
            dataField: 'level',
            headerText: '레벨'
        }, {
            dataField: 'career',
            headerText: '직업'
        }];
        /*
        // 출력할 데이터
        let data = [{
            name: '레소티르',
            level: 220,
            career: '카인'
        }, {
            name: '루소릭스',
            level: 200,
            career: '호영'
        }, {
            name: '이렌디스',
            level: 102,
            career: '소울마스터'
        }];
        */
        // AUI Grid를 생성하는 함수
        function createAUIGrid(ColumnLayout) {
            // 그리드 속성 설정
            let gridPros = {
                // 편집 가능 여부
                editable: false,
                // 셀 병합 실행
                enableCellMerge: false,
                // 엔터 키가 다음 행이 아닌 다음 컬럼으로 이동할 지 여부
                enterKeyColumnBase: false,
                // 셀 선택 모드
                selectionMode: "singleCells",
                // 컨텍스트 메뉴 사용 여부
                useContextMenu: false,
                // 필터 사용 여부
                enableFilter: false,
                // 그룹핑 패널 사용
                useGroupingPanel: false,
                // 상태 컬럼 사용
                showStateColumn: true,
                // 그룹핑 또는 트리로 만들 었을 때 펼쳐지게 할지의 여부
                displayTreeOpen: false,
                noDataMessage: "출력할 데이터가 없습니다.",
                groupingMessage: "여기에 칼럼을 드래그하면 그룹핑이 됩니다."
            };

            // testDiv에 그리드 생성
            exGrid = AUIGrid.create('#testDiv', columnLayout, gridPros);
        }

        // 페이지가 실행 되면 시작되는 함수
        $(document).ready(function () {
            // AUI Grid 생성
            createAUIGrid(columnLayout);
            // 그리드에 데이터 삽입
            AUIGrid.setGridData(exGrid, data);
        });

    </script>
</head>
<body>
<h1 id="title">AUI GRID 테스트😎</h1>
<!-- -->
<div id="testDiv">

</div>
</body>
</html>